@font-face {
	font-family:"Hoefler";
	font-weight:normal;
	font-style:normal;
	src:url("assets/hoefler.otf");
}

body {
	background-color:#000;
	color:#efefef;
	
	font-family:Helvetica, Arial, Sans-Serif;
	font-size:11pt;
	
	padding-top:60pt;
	text-align:center;
}

h1 {
	display:inline-block;
	position:relative;
	
	font-family:Hoefler;
	font-weight:normal;
	
	font-size:120pt;
	font-size:12vw;
	
	
	letter-spacing:4pt;
	
	margin:0;
}

h1 span.Article {
	position:absolute;
	top:-0.5em;
	left:3em;
	
	font-size:32pt;
	font-size:3.5vw;
}

h1 span.SmallCaps {
	text-transform:uppercase;
}

h1 span.Article span.SmallCaps {
	font-size:24pt;
	font-size:2.8125vw;
}

h1 span.Subject span.SmallCaps {
	font-size:72pt;
	font-size:8vw;
}

p {
	line-height:1.75em;
	margin:30pt;
}

p.Intro {
	width:50%;
	margin:30pt auto;
}
